<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MiniProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Add_To_CartPage</display-name>
    <servlet-name>Add_To_CartPage</servlet-name>
    <servlet-class>servlet.Add_To_CartPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_To_CartPage</servlet-name>
    <url-pattern>/Add_To_CartPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imagefetch</display-name>
    <servlet-name>imagefetch</servlet-name>
    <servlet-class>servlet.imagefetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imagefetch</servlet-name>
    <url-pattern>/imagefetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductManualImage</display-name>
    <servlet-name>ProductManualImage</servlet-name>
    <servlet-class>servlet.ProductManualImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManualImage</servlet-name>
    <url-pattern>/ProductManualImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAdd</display-name>
    <servlet-name>ProductAdd</servlet-name>
    <servlet-class>servlet.ProductAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAdd</servlet-name>
    <url-pattern>/ProductAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inc_Dec_page</display-name>
    <servlet-name>Inc_Dec_page</servlet-name>
    <servlet-class>servlet.Inc_Dec_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inc_Dec_page</servlet-name>
    <url-pattern>/Inc_Dec_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginpage</display-name>
    <servlet-name>Loginpage</servlet-name>
    <servlet-class>servlet.Loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginpage</servlet-name>
    <url-pattern>/Loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log_out</display-name>
    <servlet-name>Log_out</servlet-name>
    <servlet-class>servlet.Logoutpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log_out</servlet-name>
    <url-pattern>/Log_out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product_Remove</display-name>
    <servlet-name>Product_Remove</servlet-name>
    <servlet-class>servlet.Product_Remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_Remove</servlet-name>
    <url-pattern>/Product_Remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order_Page</display-name>
    <servlet-name>Order_Page</servlet-name>
    <servlet-class>servlet.Order_Page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order_Page</servlet-name>
    <url-pattern>/Order_Page</url-pattern>
  </servlet-mapping>
</web-app>